<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jsolari.mvpauth0">

    <permission
        android:name="com.expocodetech.android.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.expocodetech.android.maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- no son del todo necesarios para usar Google Maps Android API v2  pero son recomendables según google en el caso de que queramos usar el MyLocation layer -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.auth0.android.lock.LockActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Lock.Theme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="juanpablosolari.auth0.com"
                    android:pathPrefix="/android/com.example.jsolari.vsos/callback"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <!-- Auth0 Lock Embedded WebView -->
        <activity
            android:name="com.auth0.android.provider.WebAuthActivity"
            android:theme="@style/Lock.Theme" />
        <!-- Auth0 Lock Embedded WebView End -->


        <!-- Auth0 Lock Passwordless SMS Country Code Selection -->
        <activity
            android:name="com.auth0.android.lock.CountryCodeActivity"
            android:theme="@style/Lock.Theme.ActionBar" />
        <!-- Auth0 Lock Passwordless SMS Country Code Selection -->
        <activity android:name=".LoginActivity" />
        <activity android:name=".FragmentCapacitationCenters" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true" />

        <activity android:name=".AlertActivity" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>